body, ::placeholder, input, button {
  font-family: var(--first-font);
  font-weight: 700;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: var(--light-grayish-cyan);
}

.logo {
  margin: 50px 0px 40px 0px;
}

.tip-calculator {
  background: var(--white);
  border-radius: 30px;
  padding: 40px;
  width: calc(100% - 80px);
}

.input-label {
  display: block;
  margin-bottom: 8px;
  color: var(--dark-grayish-cyan);
}

.input {
  background: var(--very-light-grayish-cyan);
  border: none;
  padding: 5px 15px;
  text-align: right;
  border-radius: 8px;
  width: calc(100% - 51px);
  font-size: 24px;
  color: var(--very-dark-cyan);
  outline: none;
}

.input-container {
  margin-bottom: 30px;
}


.tip-btn {
  background: var(--very-dark-cyan);
  padding: 15px 0;
  display: flex;
  justify-content: center;
  color: var(--white);
  font-size: 24px;
  border-radius: 5px;
}

.tip-btn:hover {
  cursor: pointer;
}

.tip-custom {
  color: var(--very-dark-cyan);
  background: var(--light-grayish-cyan);
  border-radius: 5px;
  border: none;
  padding: 8px 16px;
  text-align: right;
  outline: none;
  width: calc(100% - 32px);
  font-size: 24px;
}

.icon-input {
  position: absolute;
  top: 15px;
  left: 15px;
}

.input-label {
  position: relative;
}

.info {
  font-size: 16px;
  bottom: 5px;
  position: absolute;
  color: var(--red-coral);
}

.tip-custom::placeholder {
  color: var(--very-dark-cyan);
}

.tips-container {
  margin-top: 10px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(2, 1fr);
}

.label-input-container {
  position: relative;
}

#people-number {
  position: relative;
}

.bill-input, .people-number-input {
  padding-left: 40px;
}

.result {
  background: var(--very-dark-cyan);
  border-radius: 15px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.text-type {
  color: var(--white);
  font-size: 16px;
  margin-bottom: 8px;
}

.person {
  color: var(--grayish-cyan);
  font-size: 14px;
}

.text-value {
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.tip-amount, .total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.value {
  font-size: 28px;
  color: var(--strong-cyan);
}

#reset-btn {
  background: var(--strong-cyan);
  color: var(--very-dark-cyan);
  outline: none;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 22px;
}

.tip-btn:hover {
  transition: 0.2s;
  background: var(--light-strong-cyan);
  color: var(--very-dark-cyan);
}

#reset-btn:hover {
  transition: 0.2s;
  background: var(--light-strong-cyan);
}

.input:focus, .tip-custom:focus, .input-selected {
  outline: 2px solid var(--strong-cyan);
}

.selected {
  background: var(--strong-cyan);
  color: var(--very-dark-cyan);
}

.tip-custom:invalid {
  outline: 3px solid var(--red-coral);
}

.labels-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.error {
  display: none;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 5px;
  color: var(--red-coral);
  padding-bottom: 5px;
}


@media (min-width: 768px) {
  .logo {
    margin: 100px 0px 90px 0px;
  }

  .tip-calculator {
    width: 60%;
  }

  .labels-container {
    flex-direction: row;
    align-items: center;
  }
}

@media (min-width: 1280px) {
  .tip-calculator {
    width: 60%;
    flex-direction: row;
    display: flex;
    gap: 50px;
  }

  .result {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    width: 60%;
  }

  .tips-container {
    grid-template-columns: repeat(3, 1fr);
  }
}